[buildout]
parts =
    plone
    zope2
    productdistros
    instance
    zopepy

# Add additional egg download sources here. dist.plone.org contains archives
# of Plone packages.
find-links =
    http://dist.plone.org
    http://download.zope.org/ppix/
    http://download.zope.org/distribution/
    http://effbot.org/downloads

# Add additional eggs here
# elementtree is required by Plone
eggs =
    elementtree
    plone.browserlayer
    
# Reference any eggs you are developing here, one per line
# e.g.: develop = src/my.package
develop =
    src/easyshop.core    
    src/easyshop.carts
    src/easyshop.catalog
    src/easyshop.checkout
    src/easyshop.criteria
    src/easyshop.customers    
    src/easyshop.groups
    src/easyshop.information
    src/easyshop.kss  
    src/easyshop.login
    src/easyshop.order      
    src/easyshop.payment    
    src/easyshop.shipping      
    src/easyshop.shop
    src/easyshop.taxes

    src/iqpp.sessions

[plone]
recipe = plone.recipe.plone

[zope2]
recipe = plone.recipe.zope2install
url = ${plone:zope2-url}

# Use this section to download additional old-style products.
# List any number of URLs for product tarballs under URLs (separate
# with whitespace, or break over several lines, with subsequent lines
# indented). If any archives contain several products inside a top-level
# directory, list the archive file name (i.e. the last part of the URL, 
# normally with a .tar.gz suffix or similar) under 'nested-packages'.
# If any archives extract to a product directory with a version suffix, list
# the archive name under 'version-suffix-packages'.
[productdistros]
recipe = plone.recipe.distros
urls =
    http://www.dataflake.org/software/maildrophost/maildrophost_1.20/MaildropHost-1.20.tgz/download
    http://www.zope.org/Members/shh/DocFinderTab/1.0.2/DocFinderTab-1.0.2.tar.gz
    http://plone.org/products/datagridfield/releases/1.6/datagridfield-1-6-0-beta2-tar.gz
    
nested-packages =
version-suffix-packages = 

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:admin
http-address = 8080
debug-mode = on
verbose-security = on

# If you want Zope to know about any additional eggs, list them here.
# This should include any development eggs you listed in develop-eggs above,
# e.g. eggs = ${buildout:eggs} ${plone:eggs} my.package
eggs =
    ${buildout:eggs}
    ${plone:eggs}
    easyshop.core    
    easyshop.carts
    easyshop.catalog
    easyshop.checkout
    easyshop.criteria
    easyshop.customers    
    easyshop.groups
    easyshop.information
    easyshop.kss
    easyshop.login
    easyshop.order
    easyshop.payment    
    easyshop.shipping    
    easyshop.shop
    easyshop.taxes
    
    iqpp.sessions
    zc.authorizedotnet    
        
# If you want to register ZCML slugs for any packages, list them here.
# e.g. zcml = my.package my.other.package
zcml = 
    easyshop.core
    easyshop.carts
    easyshop.catalog
    easyshop.checkout
    easyshop.criteria
    easyshop.customers    
    easyshop.groups    
    easyshop.information
    easyshop.kss
    easyshop.login    
    easyshop.order
    easyshop.payment    
    easyshop.shipping
    easyshop.shop
    easyshop.taxes
    
    iqpp.sessions
            
products =
    ${buildout:directory}/products
    ${productdistros:location}
    ${plone:products}

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
extra-paths = ${zope2:location}/lib/python
scripts = zopepy